/* SECCION CONTACTO */
#contacto {
    background-size: 100vw 100vh;
    background-image: url(../multimedia/fondo-de-contacto.jpg);
    background-attachment: fixed;
    margin: 0;
    padding: 9rem 9rem;
    text-align: center;
  }
  
  .formulario {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 1% 1%;
    border: solid 1px #0e0e0e;
    border-radius: 20px;
    background-color: rgba(190, 232, 242, 0.6);
    box-sizing: border-box;
    font-family: monospace;
  }
  h2 {
    background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
    font-size: 3rem;
    font-family: sans-serif;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    /* inline-block afecta solo al titulo */
    display: inline-block;
  }
  .campo {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: none;
  }
  textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 80%;
  }
  
  .boton {
    color: black;
    background-color: #d3e4cd;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* ANIMACION EN CONTACTOs */
  .burbuja {
    border-radius: 50%;
    background: #1b2e08;
    opacity: 0.3;
    position: absolute;
    bottom: -150;
    animation: burbujas 3s linear infinite;
  }
  .burbuja:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
  }
  .burbuja:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
  }
  .burbuja:nth-child(3) {
    width: 75px;
    height: 75px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
  }
  .burbuja:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
  }
  .burbuja:nth-child(5) {
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
  }
  .burbuja:nth-child(6) {
    width: 79px;
    height: 79px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
  }
  .burbuja:nth-child(7) {
    width: 49px;
    height: 49px;
    left: 43%;
    animation-duration: 4s;
    animation-delay: 5s;
  }
  .burbuja:nth-child(8) {
    width: 61px;
    height: 61px;
    left: 78%;
    animation-duration: 3s;
    animation-delay: 3s;
  }
  .burbuja:nth-child(9) {
    width: 38px;
    height: 38px;
    left: 69%;
    animation-duration: 2s;
    animation-delay: 4s;
  }
  .burbuja:nth-child(10) {
    width: 51px;
    height: 51px;
    left: 47%;
    animation-duration: 3s;
    animation-delay: 3s;
  }
  @keyframes burbujas {
    0% {
      bottom: 0;
      opacity: 0;
    }
    30% {
      transform: translateX(30px);
    }
    50% {
      opacity: 0.4;
    }
    100% {
      bottom: 100vh;
      opacity: 0;
    }
  }
  @keyframes movimiento{
    /* moviento arriba y abajo */
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(15px);
    }
    100%{
      transform: translateY(0);
    }
  
  }
  