/* BARRA DE NAVECION DE OFERTAS*/
.logoDeOferta {
  width: 100px;
  height: 100px;
}
.tituloDeOferta {
  margin-left: 0px;
  margin-right: 22px;
}
.nav-link {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.bannerOferta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddf7fc;
  width: 1341px;
  height: 533px;
  max-width: 1343px;
}
.bannerOferta img {
  width: 1300px;
  margin-top: 46px;
  height: 336px;
}

/*Cards*/
.container-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1354px;
  margin: auto;
}

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 3px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}

.card {
  width: 100%;
  margin: 10px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  cursor: default;
}

h4 {
  font-size: 1.8rem;
}

.card:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3%);
  transform: translateY(-3%);
}

.card img {
  width: 90%;
  height: 300px;
}

.card .contenido-card {
  padding: 15px;
  text-align: center;
}

.card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}

.card .contenido-card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}

.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}

