
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/* importando icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");
@import "footer";

* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Roboto", sans-serif;

  }

/* header del index */

header {
    background-color: #e7f045;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 6;
    margin-top: -7%;    
  }
  .carousel-inner{
    margin-top: 6.5%;
  }
  .botonera {
    margin-right: 20px;
  
    ul li {
      display: inline-block;
      margin-left: 20px;
  
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #141514;
      }
    }
  }
  
  .logo {
    margin-left: 12px;
    width: 17%;
    margin-top: 3px;
    margin-right: 3px;
  }
  
  h1 {
    display: inline-block;
    text-decoration: solid;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 50px;
    margin-left: -12rem;
    margin-right: 10rem;
  }
  
  .btnInicio {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }
  
  a {
    &:hover, &:focus {
      background-size: 100% 2px;
    }
  }
  h2 {
    background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
    font-size: 4rem;
    font-family: sans-serif;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    display: inline-block;
    margin-left: 10%;
  }
  
  h3 {
    background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
    font-size: 4rem;
    font-family: sans-serif;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    display: inline-block;
    margin-left: 20%;
  }
  
  
  
  .botonWhatsApp {
    img {
      width: 70px;
      position: fixed;
      bottom: 10px;
      right: 10px;
    }
  }
 