@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/* importando icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");
/* SECCION FOOTER */
.footer {
  padding-top: 1rem;
  background-color: black;
}

.footer-sm {
  background-color: #212121;
  color: white;
}

.footer-sm a {
  color: white;
  -webkit-transition: height 2s;
  transition: height 2s;
}

.footer-sm a:hover {
  background-color: #d139f3;
  color: black;
}

.footer-sm a i {
  font-size: 1rem;
  margin: 0.4rem;
  font-size: 2rem;
}

.footer-bottom {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer-up {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0 auto;
  font-size: 2rem;
}

.footer-copy {
  text-align: center;
  color: gray;
  font-weight: 400;
  font-size: 1.5rem;
}

.footer-copy a {
  color: gray;
  text-decoration: none;
}

.footer-copy a:hover {
  color: #72c755;
  text-decoration: underline;
}

.footer-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

p {
  font-size: 0.5rem;
  color: #72c755;
}

/*Cards*/
.container-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1354px;
  margin: auto;
}

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 3px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}

.card {
  width: 100%;
  margin: 10px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  cursor: default;
}

h4 {
  font-size: 1.8rem;
}

.card:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.card img {
  width: 90%;
  height: 300px;
}

.card .contenido-card {
  padding: 15px;
  text-align: center;
}

.card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}

.card .contenido-card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}

.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card {
    margin: 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) and (min-width: 768px) and (max-width: 1024px) {
  img {
    width: 90%;
    height: 200px;
  }
}

/*Fin-Cards*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header del index */
header{
  background-color: #e7f045;
  width: 100%;
  height: 100px;
   display: flex;
  -webkit-box-pack: justify;
     
          justify-content: space-between;
  -webkit-box-align: center;
              align-items: center;
  position: fixed;
  z-index: 6;
  margin-top: -7%;
}

.carousel-inner {
  margin-top: 6.5%;
}

.botonera {
  margin-right: 20px;
}

.botonera ul li {
  display: inline-block;
  margin-left: 20px;
}

.botonera ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #141514;
}

.logo {
  margin-left: 12px;
  width: 17%;
  margin-top: 3px;
  margin-right: 3px;
}

h1 {
  display: inline-block;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 50px;
  margin-left: -12rem;
  margin-right: 10rem;
}

.btnInicio {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
}

a:hover, a:focus {
  background-size: 100% 2px;
}

h2 {
  background: -webkit-gradient(linear, left top, right top, from(#f32170), color-stop(#ffeb07), color-stop(#2196f3), to(#ff00eb));
  background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
  font-size: 4rem;
  font-family: sans-serif;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  display: inline-block;
  margin-left: 10%;
}

h3 {
  background: -webkit-gradient(linear, left top, right top, from(#f32170), color-stop(#ffeb07), color-stop(#2196f3), to(#ff00eb));
  background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
  font-size: 4rem;
  font-family: sans-serif;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  display: inline-block;
  margin-left: 20%;
}

.botonWhatsApp img {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* banner de ofertas */
.imagenEncabezadoOferta {
  width: 70%;
  margin-top: 6rem;
  -webkit-margin-end: 0rem;
          margin-inline-end: 0rem;
  margin-left: 11%;
}
/*# sourceMappingURL=estilos.css.map */