@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/* importando icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

@import "footer";
@import "contacto";
@import "ofertas";
@import "mediasquery";



/* VARIABLES */
$colorheader: #e7f045;

*{
    margin: 0;
    padding: 0;
 }

  body {
    font-family: "Roboto", sans-serif;
  }

  header {
    background-color: $colorheader;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 6;
  }
  .botonera {
    margin-right: 20px;
  }

  .botonera ul li {
    display: inline-block;
    margin-left: 20px;
  }

  .botonera ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #141514;
  }

  .logo {
    margin-left: 12px;
    width: 17%;
    margin-top: 3px;
    margin-right: 3px;
  }
  h1 {
    display: inline-block;
    text-decoration: solid;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 50px;
    margin-left: -12px;
    margin-right: 10px;
  }


  .btnInicio {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }

  a:hover,
  a:focus {
    background-size: 100% 2px;
  }
  h3 {
    background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
    font-size: 50px;
    font-family: sans-serif;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    /* inline-block afecta solo al titulo */
    display: inline-block;
    margin-right: 16%;
    margin-top: 0.4%;
    text-align: center;
  } 
  .navbar-brand {
    padding-top: 2px;
    padding-bottom: 1px;
    margin-right: 4px;
    font-size: 6.25px;
    text-decoration: none;
    white-space: nowrap;
  } 
  /* SECCION SERVICIOS */
  .contenedor {
    text-align: center;
    margin: 10px;
    padding: 1em;
    border: solid 1px #99a799;
    border-radius: 4px;
  }

  .contenedor h2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .contenedor p {
    font-size: 20px;
    margin-bottom: 15px;
    color: black;
  }
  .tarjetaImgIndex {
    width: 100%;
  }
  .imagenEncabezado {
    width: 100%;
  }
  /* banner de ofertas */
  .bannerOferta img {
    width: 1300px;
    margin-top: 55px;
    height: 344px;
  }
  /* CARRUSEL DE IMAGENES */
  .img-fluid{
    margin-top: 106.5px;
    height: 360px;
  } 

  /*SECCION GALERIA */

  .imagenGaleria {
    width: 100%;
    height: 300px;
  }

  .imagenGaleria:hover {
    filter: grayscale(100%);
    z-index: 5;
  }

  .gridPadre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 0.2em;
    grid-row-gap: 0.2em;
    grid-template-areas:
      "imagenUno imagenDos imagenTres"
      "imagenCuatro imagenCinco imagenSeis";
  }

  .imagenUno {
    grid-area: imagenUno;
  }

  .imagenDos {
    grid-area: imagenDos;
  }

  .imagenTres {
    grid-area: imagenTres;
  }

  .imagenCuatro {
    grid-area: imagenCuatro;
  }

  .imagenCinco {
    grid-area: imagenCinco;
  }

  .imagenSeis {
    grid-area: imagenSeis;
  }
  .imagenSiete {
    grid-area: imagenSiete;
  }
  /* NAVEGACION DE MENU OFERTAS */
  .NavOfertas {
    background-color: #a8dadc;
    width: 700px;
    margin: 5px auto 9px;
  }

  .NavOfertas ul li {
    display: inline-block;
    position: relative;
  }
  .NavOfertas ul li a {
    color: black;
    display: block;
    padding: 10px 60px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .NavOfertas ul li a:hover {
    background-color: #1d3557;
    color: white;
    text-decoration: underline;
    transition: all 0.3s;
  }

  /* GALERIA DE OFERTAS */


  .tarjetaflex {
    display: flex;
    padding: 5px 5px;
    /* margin-top: 1px; */
    background-color: rgb(220, 160, 160);
    width: 1300px;
    flex-wrap: wrap;
    margin: 4px auto;
    justify-content: center;
    align-items: center;
  }
  .imagenesDeOfertas{
    width: 100%;
  }

  .imagenEncabezadoOferta{
    animation: movimiento 2.5s linear infinite;
  }
  .imagenesDeOfertas img {
    margin-top: 1px;
    width: 49%;
    height: 200px;
    transition: 0.5s filter;
    border: 1px solid black;
  }
  .imagenesDeOfertas img:hover {
    filter: brightness(0.6);
  }



  /* BOTON DE WHATSAPP */

  .botonWhatsApp img {
    width: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  /*VISTA MOVIL */

  @media only screen and (min-width: 320px) and (max-width: 600px) {
    .gridPadre {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto;
      grid-template-areas:
        "imagenUno"
        "imagenDos"
        "imagenTres"
        "imagenCuatro"
        "imagenCinco"
        "imagenSeis";
    }

    .imagenUno {
      grid-area: imagenUno;
    }

    .imagenDos {
      grid-area: imagenDos;
    }

    .imagenTres {
      grid-area: imagenTres;
    }

    .imagenCuatro {
      grid-area: imagenCuatro;
    }

    .imagenCinco {
      grid-area: imagenCinco;
    }

    .imagenSeis {
      grid-area: imagenSeis;
    }

    .imagenGaleria {
      width: 100%;
      height: 230px;
    }

    .logo {
      margin-left: 4px;
      width: 40%;
      margin-top: 3px;
      margin-right: 1px;
    }
    h1 {
      letter-spacing: 2px;
      font-size: 25px;
      text-align: center;
      margin-left: 0px;
      margin-right: 0px;


    }

  h3{
    font-size: 20px;
  }

    /* MEDIA DE CONTACTO max 599 */
    .formulario {
      width: 100%;
    }
    #contacto {
      background-image: none;
      padding: auto;
    }
    /* MEDIA DE OFERTAS max 599 */
    .tarjetaflex {
      flex-direction: column;
    }
    .botonera{
      margin-right: 8px;
      width: 136px;
    }
    .card img{
      width: 80%;
      height: 250px;
      max-width: 300px;
    }

    /* VISTA TABLET */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .gridPadre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "imagenUno imagenDos"
          "imagenTres imagenCuatro"
          "imagenCinco imagenSeis";
      }

      .imagenUno {
        grid-area: imagenUno;
      }

      .imagenDos {
        grid-area: imagenDos;
      }

      .imagenTres {
        grid-area: imagenTres;
      }

      .imagenCuatro {
        grid-area: imagenCuatro;
      }

      .imagenCinco {
        grid-area: imagenCinco;
      }

      .imagenSeis {
        grid-area: imagenSeis;
      }
      header {
        background-color: #834747;
      }
      .imagenGaleria {
        width: 100%;
        height: 150px;
      }
      .img-fluid{
        margin-top: 106.5px;
        }
      .logo {
        margin-left: 7px;
        width: 36%;
        margin-top: 2px;
        margin-right: 2px;
      }
      .tituloIndex {
        font-size: 30px;
        margin-left:0px;
        margin-right: 0px;
        margin-top: 10px;
      }
      h1{
        font-size: 40px;
        margin-left: 0px;
        margin-right: 0px;
      } 
      .carousel-innerrr{
        height: 368px;
      }
      h3{
        font-size: 5px;
      }
      /* MEDIA DE CONTACTO */
      .formulario {
        width: 100%;
      }
      #contacto {
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 6.5px;
      }
    }
  }
